<div class="develop-module">
    <ul class="timeline-list">
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.9.20</div>
            <div class="time-detail"><span class="label label2">硬件:</span>第一批<span class="label label1">电路板制图</span>完成</div>
        </li>
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.10.03</div>
            <div class="time-detail"><span class="label label2">硬件:</span>第一批<span class="label label1">电路板制板</span>完成</div>
        </li>
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.10.18</div>
            <div class="time-detail">
                <span class="label label2">硬件:</span>第一批<span class="label label1">电路板测试</span>完成
            </div>
            <div class="time-detail">
                <span class="label label3">软件:</span><span class="label label1">HTTP服务器和TCP服务器的搭建</span>完成
            </div>
        </li>
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.10.25</div>
            <div class="time-detail">
                <span class="label label2">硬件:</span><span class="label label1">主控板</span>和第一批<span class="label label1">采集器安装</span>
            </div>
            <div class="time-detail">
                <span class="label label3">软件:</span><span class="label label1">前台测试页面编写</span>完成
            </div>
        </li>
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.10.30</div>
            <div class="time-detail">
                <span class="label label2">硬件:</span>第一批<span class="label label1">传感器安装</span>
            </div>
            <div class="time-detail">
                <span class="label label3">软件:</span><span class="label label1">测试命令调试</span>完成
            </div>
        </li>
        <li class="item">
            <div class="time-icon"></div>
            <div class="time-content">2015.10.31</div>
            <div class="time-detail"><span class="label label2">硬件:</span>完成了硬件设备的调试功能</div>
            <div class="time-detail">
                <span class="label label3">软件:</span><span class="label label1">数据库设计完成</span>完成
            </div>
        </li>
    </ul>
</div>