/**
 * Created by XRene on 2015/10/31.
 */
#main {
  height: 100%;
  position: relative;
}
.outer {
  padding: 10px 0 0 10px;
  float: left;
}
.inner {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}
.inner > img {
  border-radius: 5px;
  cursor: pointer;
}
